@model AppFilmes.Models.Filme

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<h2>@Html.DisplayFor(model => model.Title)</h2>



<fieldset>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <legend>Filme</legend>
                <div class="col-xs-3 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.Adult)
                </div>
                <div class="col-xs-3 col-sm-6 col-md-8">
                    @Html.DisplayFor(model => model.Adult)
                </div>

                <div class="col-xs-3 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.BackdropPath)
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                  <img src="http://image.tmdb.org/t/p/w500/@Html.DisplayFor(model => model.BackdropPath)" />
                </div>

                <div class="col-xs-3 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.Codigothemoviedb)
                </div>
                <div class="col-xs-3 col-sm-6 col-md-8">
                    @Html.DisplayFor(model => model.Codigothemoviedb)
                </div>

                <div class="col-xs-3 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.OriginalLanguage)
                </div>
                <div class="col-xs-3 col-sm-6 col-md-8">
                    @Html.DisplayFor(model => model.OriginalLanguage)
                </div>

                <div class="col-xs-3 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.OriginalTitle)
                </div>
                <div class="col-xs-3 col-sm-6 col-md-8">
                    @Html.DisplayFor(model => model.OriginalTitle)
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.Overview)
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayFor(model => model.Overview)
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.Popularity)
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayFor(model => model.Popularity)
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.PosterPath)
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <img src="http://image.tmdb.org/t/p/w500/@Html.DisplayFor(model => model.PosterPath)" />
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayFor(model => model.ReleaseDate)
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayFor(model => model.Title)
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.Video)
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayFor(model => model.Video)
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.VoteAverage)
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayFor(model => model.VoteAverage)
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayNameFor(model => model.VoteCount)
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    @Html.DisplayFor(model => model.VoteCount)
                </div>
            </div>
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.FilmeId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
