@model IEnumerable<AppFilmes.Models.Filme>

@{
    ViewBag.Title = "Index";
}

<h2>Filmes</h2>

<table border="1">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h1>@Html.DisplayFor(modelItem => item.Title)</h1><br />
                <h3>(@Html.DisplayFor(modelItem => item.Codigothemoviedb))</h3>
                <h3>@Html.DisplayFor(modelItem => item.OriginalTitle)</h3><br />
                
                <img src="http://image.tmdb.org/t/p/w500/@Html.DisplayFor(modelItem => item.PosterPath) " style="width:200px;"><br />
                <p>Nota : @Html.DisplayFor(modelItem => item.VoteAverage) </p>
                <p>Quantidade de votos : @Html.DisplayFor(modelItem => item.VoteCount)</p>
                <p> Lingua Original: @Html.DisplayFor(modelItem => item.OriginalLanguage) </p>
                <p> Populariedade: @Html.DisplayFor(modelItem => item.Popularity) </p>
                <p> Data de Cadastro: @Html.DisplayFor(modelItem => item.ReleaseDate)</p>
            </td>
            <td>
                <img src="http://image.tmdb.org/t/p/w500/@Html.DisplayFor(modelItem => item.BackdropPath) " style="width:200px;" />
                @Html.DisplayFor(modelItem => item.Overview)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FilmeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FilmeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FilmeId })
            </td>
        </tr>
    }

</table>
