@using System.Activities.Expressions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ALOA-HAAS®</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Home", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav role="navigation">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active">@Html.ActionLink(" Home", "Index", "Home", null, new { @class = "glyphicon glyphicon-star" })</li>
                        <li role="presentation">@Html.ActionLink(" Lista de Filmes", "Index", "Filmes", null, new { @class = "glyphicon glyphicon-list" })</li>
                        <li role="presentation">@Html.ActionLink("Área Restrita", "Index", "ManutencaoFilmes", null, new { @role = "menuitem", @class = "glyphicon glyphicon-list" })</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - ALOA-HAAS®</p>
            </div>

            <div class="float-right">
                <img src="../../Images/logos/var_6_0_tmdb-logo-1Line-GreenGradient-Shadow-Bree.png" style="width: 180px;" />
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
