@using System.Threading
@{
    ViewBag.Title = "Manutenção";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.js"></script>
<h1>Manutenção de Base - FILMES</h1>

<body>

    <div class="container-fluid" style="padding-top: 15px">
        @Html.ActionLink(" Cria Base Filmes", "IniciandoBase", "ManutencaoFilmes", null, new { @role = "button", @class = "btn btn-primary" })
        @Html.ActionLink("Series", "Serie", "ManutencaoFilmes", null, new { @role = "button", @class = "btn btn-primary" })
        @Html.ActionLink("Base Fotos", "IniciaBaseFotos", "ManutencaoFilmes", null, new { @role = "button", @class = "btn btn-primary" })

        @Html.Partial("_ProgressBarGenero")
        

        @Html.Partial("_ProgressBar")
    </div>
</body>




